body {
    background-color: cornflowerblue;
    font-family: monospace;
    font-size: 100%
}
h1 {
    color: DarkBlue;
    margin-left: 20px;
    font-family: verdana;
    font-size: 100%;
}
p    {color: powderblue;
font-family: fantasy;
font-size: 100%;
}
img{
   border-radius: 50%;
}
/*class */
.heading{

}

/*id*/
#seek
{

}
